/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fantasy ;
}
h1{
  margin-bottom: 30px;
  text-align: center;
}
h4{
  margin-bottom: 30px;
  text-align: center;
}
p{
  text-align: left;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.box1{
  position: relative;
  float: left;
  margin: 15px 15px 15px 15px;
  background-color: #696969;
  width: 30%;
  height:260px;
  border:3px solid black;
  overflow: hidden;
}
.box2{
  position: relative;
  float: left;
  margin: 15px 15px 15px 15px;
  background-color: #DC143C;
  width: 30%;
  height:260px;
  border:3px solid black;
  overflow: hidden;
}
.box3{
  position: relative;
  float: right;
  margin: 15px 15px 15px 15px;
  background-color: #00FFFF;
  width: 30%;
  height:260px;
  border:3px solid black;
  overflow: hidden;
}  
#chicken{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #00FF00;
}
#beef{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #FFD700;
}
#sushi{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #FF69B4;
}