/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fantasy ;
}
h1{
  margin-top:60px; 
  margin-bottom: 30px;
  text-align: center;
}
h4{
  margin-bottom: 30px;
  text-align: center;
}
p{
  text-align: left;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.box1{
  position: relative;
  float: left;
  margin: 15px 15px 15px 15px;
  background-color: #696969;
  width: 30%;
  height:200px;
  border:3px solid black;
  overflow: hidden;
}
.box2{
  position: relative;
  float: left;
  margin: 15px 15px 15px 15px;
  background-color: #DC143C;
  width: 30%;
  height:200px;
  border:3px solid black;
  overflow: hidden;
}
.box3{
  position: relative;
  float: right;
  margin: 15px 15px 15px 15px;
  background-color: #00FFFF;
  width: 30%;
  height:200px;
  border:3px solid black;
  overflow: hidden;
}  
#chicken{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #00FF00;
}
#beef{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #FFD700;
}
#sushi{
  width:120px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  float: right;
  background-color: #FF69B4;
}
/*** Responsive Framework. ***/
.row{
  width: 100%;
}
/******** Desktop View ********/
@media (min-width: 992px;) and (max-width: 1200px){
  .box1 {
    width: 35%;
    margin-left: 50px;
  }
  .box2{
    width: 35%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .box3{
   width: 35;
  margin-right: 25px;
  margin-left: 25px;
  }

  }
  /******** Talet View ********/
@media (min-width: 768px) and (max-width: 991px){
  .box1{
    width: 40%;
    height: auto;
    margin-left: 40px;
    margin-right: 0px;

  }
    .box2{
    float: right;
    width: 40%;
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
  }
    .box3{
      width: 90%;
      height: auto;
      margin-right: 40px;
      margin-left: 30px;

    }
  }

  /******** Mobile View ********/
@media (max-width: 767px){
  .box1 {
    width: 90%;
  }
  .box2 {
    width: 90%
  }
  .box3{
    width: 90%;
    margin-right: 20px;
  }
  }